*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.container1{
    height: 100%;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    background: rgb(0,78,146);
    background: radial-gradient(circle, rgba(0,78,146,1) 0%, rgba(0,4,40,1) 100%);
}
form{
    background: white;
    width: 70%;
    margin: auto;
    padding: 5%;
    border-radius: 20px;
    opacity: 0.8;
}
nav{
    background: rgb(0,78,146);
    background: radial-gradient(circle, rgba(0,78,146,1) 0%, rgba(0,4,40,1) 100%);
}

.container{
    padding-left: 5%;
}
.container-fluid{
   color: white;
   margin-bottom: 1px;
   padding-left: 50%;
}
.nav1{
    text-align: left;
}
.tip{
    font-size: 0.9rem;
    padding-left: 3%;
}


.marque{
    margin-top: 3.1rem;
}
.main{
    padding: 3% 10% 7%;
    
}

.p-3{
    background: rgb(0,78,146);
    background: radial-gradient(circle, rgba(0,78,146,1) 0%, rgba(0,4,40,1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
    color: white;
    text-align: left;
    /* line-height: 1; */

}
.profit{
    background: rgb(0,78,146);
    background: radial-gradient(circle, rgba(0,78,146,1) 0%, rgba(0,4,40,1) 100%);
    border-radius: 1rem;
    color: white;
    
}
.prof{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.px-4{
    padding-bottom: 2.4rem;
}
.p-3 h1{
    font-size: 100%;
    line-height: 0.2;
}
.p-3 h6{
    font-size: 100%;
}
.p-3{
    font-size: 100%;
}
.profit h1{
    font-size: 100%;
    line-height: 0.2;
}
.profit h6{
    font-size: 100%;
}
.profit{
    font-size: 100%;
}

.chart{
    padding: 3% 10% 10%;
    width: 100%;
    height: 100vh;
    background: rgb(0,78,146);
    background: radial-gradient(circle, rgba(0,78,146,1) 0%, rgba(0,4,40,1) 100%);
    color: white;
    text-align: center;

}

#footer{
    padding: 7% 15%;
    text-align: center;
    color: #8f8f8f;
 }
 #footer i{
    margin: 20px 10px;
 }
 .ico{
    padding-left: 80%;
 }
 .zeroi{
    padding-left: 13%;
 }
.form-label{
    text-align: left;
    width: 100%;
}
.toast-container{
    z-index: 5;
}
#market{
    background: rgb(67,67,67);
    background: radial-gradient(circle, rgba(67,67,67,1) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 100%;
}

.market1{
    text-align: center;
    font-weight: bold;
    color: white;
}
.mark{
    padding: 3% 3%;
}

#deposit{
    background: rgb(67,67,67);
    background: radial-gradient(circle, rgba(67,67,67,1) 0%, rgba(0,0,0,1) 100%);
}




 @media (max-width:1021px){

    .chart{
        padding-bottom: 12.5rem;
    }
    .bpad{
        padding-bottom: 1.9rem;
    }
    .container1{
        height: 100%;
        padding-bottom: 4.5rem;
    } 
 }
